	<% # Parameters: curr_user %>
	<li>
		<%= gravatar_for user, :size => 30 %>
		<%= link_to user.name, user %>
			<% if current_user.admin_user? %>
				<%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
				:title => "Delete #{user.name}", :class => "delete_user_link" %>
			<% end %>
	</li>